<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    {% block page-style %} {% endblock %}
    <title>{% block page-title %} {% endblock %}</title>

</head>
<body>
    <div class="wrap">
      <header>
        <div class="down-part">
          <div class="shelter-pic">
            <img class="catdog-img1" src="{% static 'img\site_imgs\catdog.png' %}" alt="">
            <img class="catdog-img2" src="{% static 'img\site_imgs\shelter-pic.jpg' %}" alt="">
          </div>

        </div>

        <div class="upper-part">
          <div class="navbar">
            <a class="nav-main-item" href="{% url 'index' %}">Главная</a>
            <div class="dropdown">
              <button class="dropbtn">Питомцы</button>
              <div class="dropdown-content">
                <a href="{% url 'cats' %}">Кошки</a>
                <a href="{% url 'dogs' %}">Собаки</a>
                <a href="{% url 'parrots' %}">Попугаи</a>
              </div>
            </div> 
            <a class="nav-main-item" href="{% url 'sheltered' %}">Нашли хозяев</a>
            <a class="nav-main-item" href="{% url 'admin:index' %}">Админка</a>
          </div>
          <div class="form-div">
            <form class="login-form" action="" method="POST">
              {% csrf_token %} 
              <input class="login-input" type="text" placeholder="Логин">
              <input class="pass-input" type="password" placeholder="Пароль">
              <button type="submit">Войти</button>
            </form>
          </div>

        </div>

      </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      <footer>

      </footer>

    </div>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% block page-script %} {% endblock %}
</body>
</html>