{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pet.css' %}">
{% endblock %}
{% block page-title %} {{ user.username }} {% endblock %}

{% block content %}
  <div class="main-block">
    <h2>Личный кабинет</h2>
    <div class="row no-gutters lk-menu">
      <div class="col lk-menu-item">
        <a href="{{ user.get_absolute_url }}">Мои данные</a>
        <a href="{% url 'client-profile-edit' %}">Редактировать профиль</a>
      </div>
    </div>
    <div class="row no-gutters main-content">
      <div class="col-6">
        <p><b>Имя:</b> {{user.first_name}}</p>
        <p><b>Фамилия:</b> {{user.last_name}}</p>
        <p><b>Отчество:</b> {{user.patronymic}}</p>
        <p><b>Почта:</b> {{user.email}}</p> 
        <p><b>Телефон:</b> {{user.phone}}</p>
        <p><b>Адрес:</b> {{user.address}}</p>
      </div>
      <div class="col-6">
        {% if shelteredPets %}
            <p><b>Вы забрали:</b></p>
            <ul class="list-of-sheltered-pet">
                {% for pet in shelteredPets %}
                    <li><a href="{{ pet.pet.get_absolute_url }}">{{ pet.pet.name }}</a> - {{ pet.sheltered_date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p><b>Вы пока никого не забрали</b></p>    
        {% endif %}
      </div>
      </div>
    </div>
  </div>


{% endblock %}