{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}
{% block page-title %} Котопёс {% endblock %}

{% block content %}
<div class="row no-gutters main-content-title">
  <div class="col-2 left-side-review">
    <p class="review-title"> Отзывы о нас: </p>
  </div>
  <div class="col-8 main-side-title">
    <p class="all-pet-title"> Наши питомцы: </p>
  </div>
  <div class="col-2 right-side">
    <p class="newbie-pet-title"> Наши новички: </p>
  </div>
</div>
<div class="row no-gutters main-content">
  <div class="col-2 left-side-review">
    
  </div>
  <div class="col-8 main-side-content">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          {% if paginationPets.has_previous %}
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          {% if paginationPets.has_next %}
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <!-- <div class="pagination">
      <span class="step-links">
          {% if paginationPets.has_previous %}
              <a href="?page={{ paginationPets.previous_page_number }}">Предыдущие</a>
          {% endif %}
          <span class="current">
              Страница {{ paginationPets.number }} из {{ paginationPets.paginator.num_pages }}.
          </span>
          {% if paginationPets.has_next %}
              <a href="?page={{ paginationPets.next_page_number }}">Следующие</a>
          {% endif %}
      </span>
    </div> -->
    <div class="all-pets-list">
      {% for pet in paginationPets %}
      <div class="all-pet-card">
        <a href="{{ pet.get_absolute_url }}"><img src="{{ pet.avatar_url }}" alt="{{ pet.name }}" class="all-pet-card-img">
        <p class="all-pet-name"> {{ pet.name }} </p>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="pagination">
      <span class="step-links">
          {% if paginationPets.has_previous %}
              <a href="?page={{ paginationPets.previous_page_number }}">Предыдущие</a>
          {% endif %}
          <span class="current">
              Страница {{ paginationPets.number }} из {{ paginationPets.paginator.num_pages }}.
          </span>
          {% if paginationPets.has_next %}
              <a href="?page={{ paginationPets.next_page_number }}">Следующие</a>
          {% endif %}
      </span>
    </div>
  </div>
  <div class="col-2 right-side">
    {% for pet in lastPets %}
        <div class="newbie-pet-card">
          <a href="{{ pet.get_absolute_url }}"><img src="{{ pet.avatar_url }}" alt="{{ pet.name }}" class="newbie-pet-card-img">
          <p class="newbie-pet-name"> {{ pet.name }} </p>
          </a>
        </div>

    {% endfor %}
  </div>
</div>
{% endblock %}