{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}
{% block page-title %} Котопёс {% endblock %}

{% block content %}
<div class="row no-gutters main-content-title">
  <div class="col for-bg-color"></div>
  <div class="col-2 left-side-review">
    <p class="review-title"> Отзывы о нас: </p>
  </div>
  <div class="col-8 main-side-title">
    <p class="all-pet-title"> Наши питомцы: </p>
  </div>
  <div class="col-2 right-side">
    <p class="newbie-pet-title"> Наши новички: </p>
  </div>
  <div class="col for-bg-color"></div>
</div>
<div class="row no-gutters main-content">
  <div class="col for-bg-color"></div>
  <div class="col-2 left-side-review">
  </div>
  <div class="col-8 main-side-content">
    {% include 'paginate.html' %}
    <div class="all-pets-list">
      {% for pet in paginationItems %}
      <div class="all-pet-card">
        <a href="{{ pet.get_absolute_url }}"><img src="{{ pet.avatar_url }}" alt="{{ pet.name }}" class="all-pet-card-img">
        <p class="all-pet-name"> {{ pet.name }} </p>
        </a>
      </div>
      {% endfor %}
    </div>
    {% include 'paginate.html' %}
  </div>
  <div class="col-2 right-side">
    {% for pet in lastPets %}
        <div class="newbie-pet-card">
          <a href="{{ pet.get_absolute_url }}"><img src="{{ pet.avatar_url }}" alt="{{ pet.name }}" class="newbie-pet-card-img">
          <p class="newbie-pet-name"> {{ pet.name }} </p>
          </a>
        </div>

    {% endfor %}
  </div>
  <div class="col for-bg-color"></div>
</div>
{% endblock %}