{% extends 'manager_panel_base.html' %}
{% block manager-page %}
{% load pet_filters %}
<!-- {% include 'paginate.html' %} -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">№ п/п</th>
      {% for field in field_names %}
        {% if field.name in need_fields %}
          <th scope="col">{{ field.verbose_name }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ forloop.counter }}</td>
      {% for field in field_names %}
        {% if field.name in need_fields %}
            <td>{{ client|get_attr:field.name }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- {% include 'paginate.html' %} -->
{% endblock %}