{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}
{% block page-title %} Панель менеджера {% endblock %}
{% block content %}
    <div class="col-2 left-side-menu" id = "manager-menu">
        <h2 class="all-pet-title">Панель менеджера</h2>
        <ul class="manager-menu-list">
            <li class="manager-menu-item">
                <a class="link" href="{% url 'manager_panel' %}">Все питомцы</a>
                <hr class="manager-menu-hr">
            </li>
            <li class="manager-menu-item">
                <a class="link" href="{% url 'manager_panel_add_pet' %}">Оформить нового питомца</a>
                <hr class="manager-menu-hr">
            </li>
            <li class="manager-menu-item">
                <a class="link" href="{% url 'manager_panel_clients' %}">Клиенты</a>
                <hr class="manager-menu-hr">
            </li>
            <li class="manager-menu-item">
                <a class="link" href="{% url 'manager_panel_shelter_pet' %}">Отдать питомца</a>
                <hr class="manager-menu-hr">
            </li>
        </ul>
    </div>
    <div class="col-10 main-side-title">
        {% block manager-page %}{% endblock %}
    </div>


{% endblock %}
{% block page-script %} 
<script src="{% static 'js/shelder_scripts.js' %}"></script>
{% endblock %}
