{% extends 'manager_panel_base.html' %}
{% block manager-page %}
{% load pet_filters %}
<!-- {% include 'paginate.html' %} -->
<form action="" method="post">
    {% csrf_token %}
    <table>
    <!-- {{ form.as_table }} -->

    <select class="filter" name="filter">
        {% for availablePet in availablePets %}
            <option value="{{availablePet}}">{{availablePet}}</option>
        {% endfor %}
    </select>
    </br>
    <select class="filter" name="filter">
        {% for nonStaffClient in nonStaffClients %}
            <option value="{{nonStaffClient}}">{{nonStaffClient}}</option>
        {% endfor %}
    </select>

    </table>
    <input type="submit" value="Устроить питомца" />

</form>

<!-- {% include 'paginate.html' %} -->
{% endblock %}