{% extends 'manager_panel_base.html' %}
{% block manager-page %}
{% load pet_filters %}
<!-- {% include 'paginate.html' %} -->
<form enctype="multipart/form-data" method="post" action="" >
    {% csrf_token %}
    <table>
    {{ pet_form.as_table }}
    </table>
    <input class="btn btn-primary" name="pet-btn" type="submit" value="Изменить" />
</form>
<form enctype="multipart/form-data" method="post" action="" >
    {% csrf_token %}
    <table>
    {{ photo_form.as_table }}
    </table>
    <input class="btn btn-primary" name="photo-btn" type="submit" value="Добавить" />
</form>

<!-- {% include 'paginate.html' %} -->
{% endblock %}