{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pet.css' %}">
{% endblock %}
{% block page-title %} {{ pet.name }} {% endblock %}

{% block content %}
<div class="main-block">
  <h2>{{ pet.name }}</h2>
  <div class="row no-gutters">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="pet-describe">
        <p class="pet-describe-text"> Здравствуйте! Меня зовут <b>{{ pet.name }}</b></p>
        <span class="pet-describe-text"> Мне {{ pet.approximate_age }} месяцев</br></span> <!-- Переделать возраст, надо вычислять "примерный возраст при поступлении + (текущая дата - дата поступления)", перевести в месяцы-->
        <span class="pet-describe-text"> И в приюте я с {{ pet.enter_date }}</br></span>
        <hr>
        <span class="pet-describe-text"><b>Вот кое-что обо мне:</b></br>{{ pet.description }}</span>

      </div>
    </div>
    <div class="col-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          {% for i in numPhotos %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner" data-target="#carouselExampleIndicators" role="button" data-slide="next">
          <div class="carousel-item active">
              <img class="d-block carousel-img" src="{{ pet.avatar_url }}" alt="First slide" >
          </div>
            {% for photo in photos %}
            <div class="carousel-item">
                <img class="d-block carousel-img" src="{{ photo.photo_url }}" alt="">
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
{% block page-script %}
{% endblock %}