{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pet.css' %}">
{% endblock %}
{% block page-title %} Нашли дом {% endblock %}

{% block content %}
  <div class="main-block">
    <h2>Нашли дом</h2>
    <div class="row no-gutters">
      <div class="col-2"></div>
      <div class="col-8">
        <ol class="list-of-sheltered-pet">
          {% for shelteredPet in shelteredPets %}
            <li><a href="{{ shelteredPet.pet.get_absolute_url }}">{{ shelteredPet.pet.name }}</a> - {{ shelteredPet.sheltered_date }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

{% endblock %}