html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100%;
}
body{
  box-sizing: border-box;
  background-color: #F4F760;
  min-height: 100%;
  display: grid;
  grid-template-rows: 150px 60px auto max-content;
  padding-bottom: 0;
}
p {
  margin: 0;
  color: #7D410D;
}

input, select, textarea{
  border-radius: 5px;
  border: 2px solid #7D410D;
  outline: none;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 10px;
}
textarea{
  min-height: 50px;
  height: 200px;
  min-width: 300px;
  width: 500px;
}
table{
  color: #7D410D;
}

#id_available, #avatar-clear_id{
  width: auto;
}
#file-upload-button{
  display: none;
}
#id_sheltered_date_day{
  width: 50px;
}
#id_sheltered_date_month{
  width: 140px;
}
#id_sheltered_date_year{
  width: 90px;
}
.helptext{
  display: none;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    height: 100%;
  }
/* =========== Стили навигации ==========================*/
.nav-menu{
  display: flex;
}
.navbar {
  background-color:  #7D410D;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar a {
  float: left;
  font-size: 20px;
  color:  #F4F760;
  text-align: center;
  padding: 6px 2px;
  text-decoration: none;
  font-weight: 600;
}
.navbar a:hover{
  color: #FFCC33;
}
.dropdown {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #7D410D;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  float: left;
  overflow: hidden;
  position: static;
}
.nav-main-item, .dropbtn {
  color: #F4F760;
  font-size: 20px;  
  font-weight: 600;
  padding: 6px 2px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 15%;
  border-top: 2px solid  #7D410D;
  border-bottom: 2px solid  #7D410D;
  max-width: 170px;
  margin-right: 10px;
}
.nav-main-item:hover, .dropbtn:hover{
  border-radius: 15%;
  border-top: 2px solid  rgba(0,0,0,0.33);
  border-bottom: 2px solid  rgba(0,0,0,0.33);
  color: #FFCC33;
  transition: all 0.5s;

}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,.33);
  border-radius: 10%;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color:  #7D410D;
  font-size: 16px;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
  transition: all 0.5s;
  color: #FFCC33;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ============================================ */
.shelter-pic{
  width: 100%;
  background-color: #F4F760;
}
.catdog-img1{
  object-fit: cover;
  height: 100%;
}
.catdog-img2{
  object-fit: cover;
  height: 100%;
}
.auth-div{
  display: flex;
  justify-content: flex-end;
  color:  #F4F760;
  padding-right: 20px;
}
.auth-div > span{
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
.auth-div > a{
  font-size: 16px;
  color: #F4F760;
  padding-bottom: 0;
  padding-top: 10px;
  font-weight: 600;
}
.auth-div > a:hover{
  color: #FFCC33;
}

.link{
  font-size: 16px;
  color: #7D410D;
  padding-bottom: 0;
  padding-top: 10px;
  font-weight: 600;
  text-decoration: none;
}
.link:hover{
  color: #7D410D;
  font-weight: bolder;
}
.footer{
  background-color: #7D410D;
  color: #F4F760;
  font-size: 14px;
  height: 100%;
  padding: 10px;
}

.main-content{
  height: auto;
  background-color: #F4F760;
}
.footer-content{
  display: flex;
  position: relative;
}
.footer-disclaimer{
  padding-left: 100px;
}
.footer-social-icons{
  position: absolute;
  right: 50%;
  top: 15%;
  transform: translateX(50%);
}
.footer-social-icons-link{
  margin-right: 10px;
}
svg:hover .ch-color-on-hover{
  fill: #FFCC33;
}
.author-link{
  color:  #F4F760;
}
.author-link:hover{
  color: #FFCC33;
}
/* ===== Стили пагинации ====== */
ul{
  margin-top: 17px;
}
.page-link{
  color: #7D410D;
  background-color: #F4F760;
  border-color: rgba(125, 65, 13, .5);
}
.page-link:hover{
  color: #7D410D;
  background-color: rgba(125, 65, 13, .5);
  border-color: #7D410D;
}
.page-item.active .page-link {
  color: #FFCC33;
  background-color: #7D410D;
  border-color: #7D410D;
  opacity: 1;
}
/* ============================ */

.btn-primary {
  color: #F4F760;
  background-color: #7D410D;
  border-color: #7D410D;
  margin-left: 0;
  width:auto;
  padding: 6px 10px;
}
.btn-primary:hover {
  color: #F4F760;
  background-color: #6d3d13;
  border-color: #6d3d13;
}
.p-yellow-on-brown{
  color: #F4F760;
}

