.wrap{
  margin: 0 auto;
  width: 80%;
}
.nav-menu{
  display: flex;
}
.head-nav{
  display: inline;
}
.down-part{
  height: 151px;
  width: 100%;
}
.shelter-pic{
  height: 151px;
  width: 100%;
  background-color: rgb(27, 160, 71);
}