html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body{
  box-sizing: border-box;
  background-color: black;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    height: 100%;
  }
/* =========== Стили навигации ==========================*/
.navbar {
  background-color:  #7D410D;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar a {
  float: left;
  font-size: 20px;
  color:  #F4F760;
  text-align: center;
  padding: 6px 2px;
  text-decoration: none;
  font-weight: normal;
}
.dropdown {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #7D410D;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  float: left;
  overflow: hidden;
  position: static;
}
.nav-main-item, .dropbtn {
  color: #F4F760;
  font-size: 20px;  
  padding: 6px 2px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: normal;
  border: none;
  outline: none;
  border-radius: 15%;
  border-top: 2px solid  #7D410D;
  border-bottom: 2px solid  #7D410D;
  max-width: 170px;
  margin-right: 10px;
}
.nav-main-item:hover, .dropbtn:hover{
  border-radius: 15%;
  border-top: 2px solid  rgba(0,0,0,0.33);
  border-bottom: 2px solid  rgba(0,0,0,0.33);
  text-shadow: 1px -1px 1px rgb(165,123,26), 2px -2px 2px;
  transition: all 0.5s;

}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,.33);
  border-radius: 10%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color:  #7D410D;
  font-size: 16px;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
  transition: all 0.5s;
  text-shadow: 1px -1px 1px rgb(165,123,26), 2px -2px 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ============================================ */
.shelter-pic{
  height: 150px;
  width: 100%;
  background-color: #F4F760;
}
.catdog-img1{
  object-fit: cover;
  height: 100%;
}
.catdog-img2{
  object-fit: cover;
  height: 100%;
}
.auth-div{
  display: flex;
  justify-content: flex-end;
  color:  #F4F760;
  padding-right: 20px;
}
.auth-div > span, .auth-div > span > a{
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 6px;
}
.auth-div > a{
  font-size: 16px;
  color: #c0118b;
  padding-bottom: 0;
  padding-top: 10px;
}
.footer{
  height: 100px;
  background-color: #7D410D;
}
