.main-content{
  display: flex;
  background-color: #F4F760;
}
.left-side-review{
  display: inline-block;
  padding-top: 50px;
  background-color: #FFCC33;
  height: auto;
}
.main-side-title{
  /* display: block; */
  padding-top: 50px;
  background-color: #F4F760;
}
.main-side-content{
  background-color: #F4F760;
}
.all-pets-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
}

.all-pet-card{
  position: relative;
  width: 30%;
  height: 300px;
  margin: 0;
  border-radius: 20px;
  border: 2px solid #7D410D;
  margin: 0 auto 10px auto;
}
.all-pet-card-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.right-side{
  display: inline-block;
  padding-top: 50px;
  background-color: #FFCC33;
  height: auto;
}
.review-title, .newbie-pet-title, .all-pet-title{
  color:#7D410D;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.newbie-pet-card{
  position: relative;
  width: 95%;
  border-radius: 20px;
  border: 2px solid #7D410D;
  margin: 0 auto 10px auto;
}
.newbie-pet-name, .all-pet-name{
  position: absolute;
  text-align: center;
  bottom: 5px; 
  left: 0; 
  right: 0; 
  transform: translateY(-50%);
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.newbie-pet-card-img{
  object-fit:  contain;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

