.left-side-review, .left-side-menu {
  display: inline-block;
  padding-top: 50px;
  background-color: #FFCC33;
  height: auto;
}
.main-side-title{
  background-color: #F4F760;
}
.main-side-content{
  padding-top: 50px;
}
.all-pets-list{
  display: flex;
  flex-wrap: wrap;
}

.all-pet-card{
  position: relative;
  width: 30%;
  /* height: 300px; */
  margin: 0;
  border-radius: 20px;
  border: 2px solid #7D410D;
  margin: 0 auto 10px auto;
}
.all-pet-card-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.right-side{
  display: inline-block;
  padding-top: 50px;
  padding-right: 40px;
  background-color: #FFCC33;
  height: auto;
}
.review-title, .all-pet-title{
  color:#7D410D;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.newbie-pet-title{
  color:#7D410D;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;

}
.newbie-pet-card{
  position: relative;
  width: 95%;
  border-radius: 20px;
  border: 2px solid #7D410D;
  margin: 0 20px 10px 20px;
}
.newbie-pet-name, .all-pet-name{
  position: absolute;
  text-align: center;
  bottom: 5px; 
  left: 0; 
  right: 0; 
  transform: translateY(-50%);
  margin: 0;
  font-size: 2vw;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.newbie-pet-card-img{
  object-fit:  contain;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.for-bg-color{
  background-color: #FFCC33;
}
.main-content-title{
  height: min-content;
}
.manager-menu-list{
  list-style-type: none;
  margin-top: 20px;
}
.manager-menu-hr{
  color: #7D410D;
  text-align: center;
  width: 80%;
  height: 2px;
}
.active-elem{
  font-weight: bolder;
}
.all-pet-table{
  width: 98%;
}