.main-block{
    display: grid;
    background-color:#F4F760;
}
/* .main-content{
}
.carousel-item{
    width: 50%;
}
.carousel-img{
    object-fit: fill;
    height: 200px;
    width: auto;
} */

.carousel-inner{
    height: 400px;
    width: auto;
    
}