{% extends 'base.html' %}
{% block page-style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pet.css' %}">
{% endblock %}
{% block page-title %} Login {% endblock %}

{% block content %}
<div class="main-block">
    <div class="row no-gutters main-content">
      <div class="col-12">
        {% if form.errors %}
          <p>Не верные логин или пароль</p>
        {% else %}
          {% if user.is_authenticated %}
            <p>У вас нет доступа к этой странице</p>
          {% else %}
            <p>Войдите, чтобы продолжить</p>
          {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
          <td><b><p>{{ form.username.label_tag }}</p></b></td>
          <td>{{ form.username }}</td>
        </tr>

        <tr>
          <td><b><p>{{ form.password.label_tag }}</p></b></td>
          <td>{{ form.password }}</td>
        </tr>
        </table>

        <input class="btn btn-primary" type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>


{% endblock %}